numpy==1.26.4
torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121
xformers==0.0.22.post7
transformers==4.36.2
av==11.0.0
hydra-core>=1.1
hydra-colorlog
flashy>=0.0.1
demucs
encodec
num2words
torchmetrics
torchtext==0.16.0
spacy==3.7.2
gradio
audiocraft
